body {
    background-color: darkorange;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#container {
    width: 80%;
    margin:40px;
    padding: 10px;
}

.projectTitle {
    font-size: 40px;
    letter-spacing: 4px;
    text-align: center;
}

hr {
    background-color: #fff;
    border: none;
    height: 2px;
}

#topView {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

#topLeftView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

p {
    font-size: 26px;
    letter-spacing: 1px;
    font-family: sans-serif;
}

button {
    color: #fff;
    padding: 12px;
    width: 100px;
    border-radius: 5px;
    background-color: navy;
    border: none;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#gitHub :hover {
    opacity: 0.7;
}

i {
    margin-left:10px;
}

h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 120px;
    letter-spacing: 1px;
}

img {
    width: 500px;
    border-radius: 60px 0px 60px 0px;
    box-shadow: 2px 3px;
}

#unordLs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style-type: none;
    margin-top: 60px; 
}

.links{
    text-decoration: none;
    text-align: center;
    background-color: #50a4a7;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 3px solid #2020a9ba;
    padding:10px;
    color: #000;
    font-size: 20px;
    letter-spacing: 3px; 
    font-weight: bold;   
}

li{   
    margin: 10px 80px 60px  0px; 
}

li :hover {
    box-shadow: 2px 2px;
}


/* .projectTitle{

} */