body {
  display: flex;
  justify-content: center;
}

#mainView {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#topView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

img {
  width: 100%;
}

.det {
  display: none;
}
